<div class="card card-height-100">
    <div class="card-header">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h4 class="card-title fw-semibold">보정 결과</h4>
            </div>
            <div class="d-flex flex-shrink-0 gap-2">
                <button type="button" class="btn btn-primary" id="btn_for_prev">이전</button>
                <button type="button" class="btn btn-primary" id="btn_for_next">적용</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row justify-content-center mb-3">
            <div class="col-8 text-center">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <p>선택 알고리즘</p>
                    </div>
                    <div class="flex-grow-1 border border-dashed rounded text-center p-2 mb-3 select-text-bg">
                        <p class="mb-0" id="selected_sampling_algorithm">{{ sampling_algorithm }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-sm-6 dataSampling-card">
                <div class="form-check card-radio-right">
                    <input class="form-check-input" type="radio" id="formCheck0" name="formCheck">
                    <label class="form-check-label" for="formCheck0">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <div class="flex-grow-1">
                                    <h5 class="fs-15 fw-semibold mb-0">OriginalData</h5>
                                </div>
                                <div class="flex-shrink-0"></div>
                            </div>

                            <div class=" mb-3">
                                <span class="fs-24 fw-semibold">{{ train_info.train }}</span><span class="fs-15"> / {{ train_info.train }}</span>
                            </div>

                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <p class="text-warning lh-1 fw-semibold fs-15 mb-0">0%<i class="ri-subtract-fill fs-24 align-middle"></i></p>
                                </div>
                                <div class="flex-grow-1 ms-xl-5 ms-sm-3">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <span class="text-muted">TARGET(0)</span>
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            <div class="progress progress-xl bg-soft-purple rounded-0 animated-progress">
                                                <div class="progress-bar bg-purple rounded-0" role="progressbar" aria-valuenow="{{ train_info.target_0 }}" aria-valuemin="0" aria-valuemax="{{ train_info.large }}" style="width: {{train_info.percent_0}}%;">{{ train_info.target_0 }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <span class="text-muted">TARGET(1)</span>
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            <div class="progress progress-xl bg-soft-purple rounded-0 animated-progress">
                                                <div class="progress-bar bg-purple rounded-0" role="progressbar" aria-valuenow="{{ train_info.target_1 }}" aria-valuemin="0" aria-valuemax="{{ train_info.large }}" style="width: {{train_info.percent_1}}%;">{{ train_info.target_1 }}</div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <span>0</span>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <span>{{ train_info.large }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            {% for sampling in samplig_list %}
            <div class="col-sm-6 dataSampling-card">
                <div class="form-check card-radio-right">
                    <input class="form-check-input" type="radio" id="formCheck{{ forloop.counter }}" name="formCheck">
                    <label class="form-check-label" for="formCheck{{ forloop.counter }}">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <div class="flex-grow-1">
                                    <h5 class="fs-15 fw-semibold mb-0">{{ sampling.algorithm }}</h5>
                                </div>
                                <div class="flex-shrink-0"></div>
                            </div>

                            <div class=" mb-3">
                                <span class="fs-24 fw-semibold">{{ sampling.train }}</span><span class="fs-15"> / {{ train_info.train }}</span>
                            </div>

                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    {% if sampling.arrow == "up" %}
                                    <p class="text-danger fw-semibold fs-15 mb-0">{{ sampling.percent }}%<i class="ri-arrow-up-s-fill fs-24 align-middle"></i></p>
                                    {% elif sampling.arrow == "down" %}
                                    <p class="text-info lh-1 fw-semibold fs-15 mb-0">{{ sampling.percent }}%<i class="ri-arrow-down-s-fill fs-24 align-middle"></i></p>
                                    {% else %}
                                    <p class="text-warning lh-1 fw-semibold fs-15 mb-0">{{ sampling.percent }}%<i class="ri-subtract-fill fs-24 align-middle"></i></p>
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-xl-5 ms-sm-3">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <span class="text-muted">TARGET(0)</span>
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            {% if sampling.arrow == "up" %}
                                            <div class="progress progress-xl bg-soft-indigo rounded-0 animated-progress">
                                                <div class="progress-bar bg-indigo rounded-0" role="progressbar" aria-valuenow="{{ sampling.target_0 }}" aria-valuemin="0" aria-valuemax="{{ sampling.large }}" style="width: {{sampling.percent_0}}%;">{{ sampling.target_0 }}</div>
                                            </div>
                                            {% elif sampling.arrow == "down" %}
                                            <div class="progress progress-xl bg-soft-success rounded-0 animated-progress">
                                                <div class="progress-bar bg-success rounded-0" role="progressbar" aria-valuenow="{{ sampling.target_0 }}" aria-valuemin="0" aria-valuemax="{{ sampling.large }}" style="width: {{sampling.percent_0}}%;">{{ sampling.target_0 }}</div>
                                            </div>
                                            {% else %}
                                            <div class="progress progress-xl bg-soft-purple rounded-0 animated-progress">
                                                <div class="progress-bar bg-purple rounded-0" role="progressbar" aria-valuenow="{{ sampling.target_0 }}" aria-valuemin="0" aria-valuemax="{{ sampling.large }}" style="width: {{sampling.percent_0}}%;">{{ sampling.target_0 }}</div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <span class="text-muted">TARGET(1)</span>
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            {% if sampling.arrow == "up" %}
                                            <div class="progress progress-xl bg-soft-indigo rounded-0 animated-progress">
                                                <div class="progress-bar bg-indigo rounded-0" role="progressbar" aria-valuenow="{{ sampling.target_1 }}" aria-valuemin="0" aria-valuemax="{{ sampling.large }}" style="width: {{sampling.percent_1}}%;">{{ sampling.target_1 }}</div>
                                            </div>
                                            {% elif sampling.arrow == "down" %}
                                            <div class="progress progress-xl bg-soft-success rounded-0 animated-progress">
                                                <div class="progress-bar bg-success rounded-0" role="progressbar" aria-valuenow="{{ sampling.target_1 }}" aria-valuemin="0" aria-valuemax="{{ sampling.large }}" style="width: {{sampling.percent_1}}%;">{{ sampling.target_1 }}</div>
                                            </div>
                                            {% else %}
                                            <div class="progress progress-xl bg-soft-purple rounded-0 animated-progress">
                                                <div class="progress-bar bg-purple rounded-0" role="progressbar" aria-valuenow="{{ sampling.target_1 }}" aria-valuemin="0" aria-valuemax="{{ sampling.large }}" style="width: {{sampling.percent_1}}%;">{{ sampling.target_1 }}</div>
                                            </div>
                                            {% endif %}
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <span>0</span>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <span>{{ sampling.large }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $("#btn_for_prev").on("click", function() {
        $.ajax({
            type: 'POST',
            url: '/preprocess/split',
            data: {
                'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
            },
            success: function(data) {
                $("#preprocess-03").html("");
                $("#preprocess-03").html(data);
            }
        });
    });

    $("#btn_for_next").on("click", function() {
        if( $("input[name='formCheck']:checked").length < 1 ) {
            Swal.fire({
                title:'적용할 불균형 데이터 보정 알고리즘을 선택해주세요',
                icon: 'warning',
                confirmButtonClass: 'btn btn-primary w-xs mt-2',
                buttonsStyling: false
            })
        } else {
            var select_algorithm = $("input[name='formCheck']:checked").closest("div.card-radio-right").find("h5.fw-semibold").text().trim();

            $.ajax({
                type: 'POST',
                url: '/preprocess/sampling_apply',
                data: {
                    'select_algorithm': select_algorithm,
                    'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
                },
                success: function(data) {
                    if( data.result == "success" ) {
                        Swal.fire({
                            title:'적용되었습니다',
                            icon: 'success',
                            confirmButtonClass: 'btn btn-primary w-xs mt-2',
                            buttonsStyling: false
                        })
                    } else {
                        Swal.fire({
                            title:'문제가 발생하여 적용되지 않았습니다.\n다시 시도해주세요.',
                            icon: 'error',
                            confirmButtonClass: 'btn btn-primary w-xs mt-2',
                            buttonsStyling: false
                        })
                    }
                }
            });
        }
    });

    $("input[name='formCheck']").on("click", function() {
        var algorithm = $(this).closest("div.card-radio-right").find("h5").text().trim();
        $("#selected_sampling_algorithm").text(algorithm);
    });

    init();
});

function init() {
    var select_algorithm = "{{ sampling_algorithm }}";
    if ( select_algorithm != "" ) {
        $("input[name='formCheck']").each(function() {
            var algorithm_name = $(this).closest("div.card-radio-right").find("h5.fw-semibold").text().trim();
            if ( select_algorithm == algorithm_name ) {
                $(this).click();
            }
        });
    }
}
</script>