{% extends 'template-learning.html' %}
{% load static %}

{% block title %}모델 학습{% endblock %}

{% block content %}
{% csrf_token %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-xl-2 col-lg-3">
                    <div class="card card-height-100">
                        <div class="card-body">
                            <div class="d-flex mb-1">
                                <div class="flex-grow-1">
                                    <h4 class="card-title fw-semibold mb-0">MODEL</h4>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:sorting_text();" class="align-middle text-muted" role="button">
                                        <i class="bx bx-sort-a-z fs-18"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="search-box mb-3">
                                <input type="text" class="form-control" id="input_for_search" placeholder="검색">
                                <i class="ri-search-line search-icon"></i>
                            </div>

                            <div class="mx-n3" data-simplebar style="max-height: 635px;">
                                <ul class="nav model-nav flex-column border-top">
                                    <li class="nav-item active show" name="algorithm_list">
                                        <a class="nav-link" href="#modelMenu01" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="modelMenu01">
                                            회귀
                                        </a>
                                        <div class="collapse menu-dropdown show p-3" id="modelMenu01">
                                            <div class="nav flex-column nav-pills modelnav-pills" name="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <button class="nav-link active" id="v-pill-regression01" data-bs-toggle="pill" type="button" role="tab" data-bs-target="#v-pills-parameter01" aria-controls="v-pills-parameter01" aria-selected="true">Linear Regression</button>
                                                <button class="nav-link" id="v-pill-regression02" data-bs-toggle="pill" type="button" role="tab" data-bs-target="v-pills-parameter02" aria-controls="v-pills-parameter02" aria-selected="false">Decision Tree Regression</button>
                                                <button class="nav-link" id="v-pill-regression03" data-bs-toggle="pill" type="button" role="tab" data-bs-target="v-pills-parameter03" aria-controls="v-pills-parameter03" aria-selected="false">Random Forest Regression</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item active show" name="algorithm_list">
                                        <a class="nav-link" href="#modelMenu02" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="modelMenu02">
                                            분류
                                        </a>
                                        <div class="collapse menu-dropdown show p-3" id="modelMenu02">
                                            <div class="nav flex-column nav-pills modelnav-pills" name="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter01" aria-selected="false">Logistic Regression</button>
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter04" aria-selected="false">LinearSVC</button>
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter05" aria-selected="false">Naïve Bayes</button>
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter02" aria-selected="false">Decision Tree Classifier</button>
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter03" aria-selected="false">Random Forest Classifier</button>
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter06" aria-selected="false">Multilayer Perceptron Classifier</button>
                                                <button class="nav-link" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-parameter07" aria-selected="false">Gradient Boosted Tree Classifier</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-7 col-lg" id="div_for_learning_detail"></div>

                <div class="col-xl-3 col-lg-4">
                    <div class="card card-height-100">
                        <div class="card-body">
                            <div class="mb-3 d-flex">
                                <button class="btn btn-outline-primary w-50 m-2" id="btn_for_model_save">저장</button>
                                <button class="btn btn-primary w-50 m-2" id="btn_for_model_learning">분석</button>
                            </div>

                            <div class="mb-3">
                                <h5 class="fs-15 fw-semibold">MODEL LIST</h5>
                            </div>

                            <div data-simplebar data-simplebar-auto-hide="false" data-simplebar-track="primary" style="max-height: 670px;">
                                <div id="div_for_model_list">
                                    {% if model_list %}
                                    {% for model in model_list %}
                                    <div class="card mb-3">
                                        <div class="card-body border border-dashed shadow-none">
                                            <button type="button" class="btn-close float-end fs-11" aria-label="Close" onclick="javascript:model_remove(this)"></button>

                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm flex-shrink-0">
                                                    <div class="avatar-title bg-soft-primary text-primary rounded fs-20">
                                                        <i class="ri-apps-2-fill fs-25"></i>
                                                    </div>
                                                </div>

                                                <div class="flex-grow-1 ps-3">
                                                    <h5 class="fw-semibold text-uppercase fs-13 mb-0">{{ model.algorithm }}</h5>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                {% for parameter in model.hyper_parameters %}
                                                <p class="text-muted text-truncate mb-0">{{ parameter.name }} : <span class="text-dark">{{ parameter.value }}</span></p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>

<script type="text/javascript">
$(function() {
    init();

    $("button.nav-link").on("click", function() {
        if ( $("button.nav-link.active").length == 2 ) {
            $("button.nav-link").not(this).removeClass("active");
        }
        show_detail($(this).text().trim());
    });

    $("#input_for_search").keyup(function() {
        var k = $(this).val();
        $("button.nav-link").hide();
        $("button.nav-link").each(function() {
            if ( $(this).text().toLowerCase().includes(k.toLowerCase()) ) {
                $(this).show();
            }
        });
    });

    $("#btn_for_model_save").on("click", function() {
        if ( $("#div_for_model_list").find("div.card.mb-3").length < 1 ) {
            Swal.fire({
                title:'저장할 모델의 하이퍼 파라미터를\n설정해 추가해주세요',
                icon: 'warning',
                confirmButtonClass: 'btn btn-primary w-xs mt-2',
                buttonsStyling: false
            })
            return false;
        }

        var model_list = new Array();
        $("#div_for_model_list").find("div.card.mb-3").each(function() {
            var algorithm = $(this).find("h5.fw-semibold.text-uppercase").text().trim();
            var parameter = new Object();
            $(this).find("p.text-muted").each(function() {
                var hyper_parameter = $(this).text().trim().split(" : ");
                parameter[hyper_parameter[0]] = hyper_parameter[1];
            });
            model_list.push({'algorithm': algorithm, 'parameter': parameter});
        });

        $.ajax({
            type: 'POST',
            url: '/learning/model_save',
            data: {
                'model_list': JSON.stringify(model_list),
                'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
            },
            success: function(data) {
                if( data.result == "success" ) {
                    Swal.fire({
                        title:'저장되었습니다',
                        icon: 'success',
                        confirmButtonClass: 'btn btn-primary w-xs mt-2',
                        buttonsStyling: false
                    }).then(function () {
                        alert_model_learning("저장한 모델들을 분석합니다.");
                    });
                } else {
                    Swal.fire({
                        title:'문제가 발생하여 저장되지 않았습니다.\n다시 시도해주세요.',
                        icon: 'error',
                        confirmButtonClass: 'btn btn-primary w-xs mt-2',
                        buttonsStyling: false
                    })
                }
            }
        });
    });

    $("#btn_for_model_learning").on("click", function() {
        alert_model_learning("저장되어있는 모델 정보로 분석합니다.");
    });
});

function init() {
    var algorithm = $("button.nav-link").eq(0).text().trim();
    show_detail(algorithm);
}

function show_detail(algorithm) {
    $.ajax({
        type: 'POST',
        url: '/learning/detail',
        data: {
            'algorithm': algorithm,
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
        },
        success: function(data) {
            $("#div_for_learning_detail").html("");
            $("#div_for_learning_detail").html(data);
        }
    });
}

function sorting_text() {
    $("div[name='v-pills-tab']").each(function() {
        $(this).children().detach().sort(function(a, b) {
            return $(a).text().trim().localeCompare($(b).text().trim());
        }).appendTo($(this));
    });
}

function alert_model_learning(message) {
    Swal.fire({
        title: message,
        text: '분석시 데이터양에 따라 많은 시간이 소요될수도 있습니다. 지금 분석하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-primary w-xs mt-2',
        cancelButtonClass: 'btn btn-light w-xs me-2 mt-2',
        confirmButtonText: '시작',
        cancelButtonText: '취소',
        reverseButtons: true, // 버튼 순서 거꾸로
        buttonsStyling: false,
        showCloseButton: true,
        customClass: 'fs-5'
    }).then(function (result) {
        if ( result.isConfirmed ) {
            learning_models();
        } else if ( result.isDismissed ) {
            return false;
        }
    });
}

function learning_models() {
    $.ajax({
        type: 'POST',
        url: '/learning/learning',
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
        },
        success: function(data) {
            if( data.result == "success" ) {
                Swal.fire({
                    title:'분석이 완료되었습니다.',
                    icon: 'success',
                    confirmButtonClass: 'btn btn-primary w-xs mt-2',
                    buttonsStyling: false,
                    confirmButtonText: '분석결과'
                }).then(function () {
                    location.href = "/evaluation";
                });
            } else {
                Swal.fire({
                    title:'문제가 발생하여 저장되지 않았습니다.\n다시 시도해주세요.',
                    icon: 'error',
                    confirmButtonClass: 'btn btn-primary w-xs mt-2',
                    buttonsStyling: false
                })
            }
        }
    });
}

</script>

{% endblock %}