{% load static %}
{% if project_obj %}
<div class="row" id="project-list-row">
    {% for project in project_obj %}
    <div class="col-xl-6">
        <div class="card card-animate" name="project_list">
            <div class="card-body">
                <div class="d-flex flex-column h-100">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="mb-4"><span class="text-muted">업데이트</span><span class="fw-semibold"> {{project.project_update_date | date:'Y.m.d H:i:s' }} </span></p>
                            <!-- <p class="text-muted mb-4">Updated 2hrs ago</p> -->
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-1 align-items-center">
                                <div class="dropdown">
                                    <button class="btn btn-link text-muted p-1 mt-n2 py-0 text-decoration-none fs-15" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="ri-more-fill"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a id="btn_for_project_get_detail" class="dropdown-item" href="javascript:project_get_detail({{project.id}})"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> 편집</a>
                                        <a class="dropdown-item" href="javascript:project_clone({{project.id}})"><i class="ri-file-copy-fill align-bottom me-2 text-muted"></i> 복제</a>
                                        <a class="dropdown-item" href="javascript:project_remove({{project.id}})"><i class="ri-delete-bin-6-fill align-bottom me-2 text-muted"></i> 삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mb-2">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar-md">
                                {% if project.project_image %}
                                <img src="{{project.project_image.url}}" alt="main-img" class="img-fluid rounded w-100 h-100">
                                {% else %}
                                <span class="avatar-title bg-soft-indigo rounded" id="list-img-wrapper">
                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="main-img" class="img-fluid w-100 h-100">
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="card-subtitle mb-2">{{project.project_type}} &middot; {{project.project_sub_type}}</h6>
                            <h5 class="card-title mb-3 fw-semibold project_title_for_search_keyword"><a href="/project/detail?project_id={{project.id}}" class="text-dark">{{project.project_name}}</a>
                            </h5>
                            <div class="row align-items-center mt-3">
                                <div class="col-lg-3">
                                    <p class="text-muted mb-0">등록자</p>
                                </div>
                                <div class="col-auto">
                                    <p class="mb-0">{{project.registrant}}</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <p class="text-muted mb-0">등록일</p>
                                </div>
                                <div class="col-auto">
                                    <p class="mb-0">{{project.project_registration_date | date:'Y.m.d H:i:s'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div>
    </div><!-- end col -->
    {% endfor %}

    <!-- pagination -->
    <div class="row g-0 text-center text-sm-start align-items-center mb-3">
        <div class="float-left">
            <div>
                <p class="mb-sm-0">Showing to {{project_obj.number}} of {{project_obj.paginator.num_pages}} entries</p>
            </div>
        </div> <!-- end col -->
        <div class="col">
            <ul class="pagination pagination-separated justify-content-center">
                <li class="page-item disabled">
                    <a href="javascript:go_prev();" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                </li>
                {% for plinks in page_links %}
                    {{ plinks | safe }}
                {% endfor %}
                <li class="page-item">
                    <a href="javascript:go_next();" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                </li>
            </ul>
        </div><!-- end col -->
    </div>
    {% else %}
    <div class="row">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">프로젝트</h5>
                    <div class="text-center mt-3 pt-3">
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal" id="project_list_registration" class="btn btn-soft-dark">
                            <i class="bx bx-layer-plus display-6 text-white"></i>
                        </a>
                        <p class="mt-3">버튼을 선택해서 새 프로젝트를 등록해보세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
$(function() {
    project_list_init();
});

<!-- 페이지 진입 초기화 설정 -->
function project_list_init() {
    $('#registrant_name').val('{{ user_name }}');
    var current_page = '{{page}}';
    var last_page = {{project_obj.paginator.num_pages}};
    if(current_page <= 1) {
        $("li.page-item").first().addClass("disabled");
        $("li.page-item").last().removeClass("disabled");
    } else if(current_page >= last_page) {
        $("li.page-item").last().addClass("disabled");
        $("li.page-item").first().removeClass("disabled");
    } else {
        $("li.page-item").last().removeClass("disabled");
        $("li.page-item").first().removeClass("disabled");
    }
}

<!-- 리스트 호출 ajax -->
function get_project_list(url, page={{page}}) {
    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            'page': page,
        },
        success: function(data) {
            $("#project-list-row-container").html("");
            $("#project-list-row-container").html(data);
        },
        error: function(data) {
            console.log("get_project_list error");
        }
    });
}

<!-- 리스트 삭제, 복제 ajax -->
function update_project_list(url, project_id, status) {
    <!-- 해당 페이지의 마지막 게시물 삭제일 경우 -->
    var page = {{page}};
    if(status == 'remove') {
        if($("#project-list-row .col-xl-6").length == 1) {
            page = {{page}} - 1;
            if(page <= 0) {
                page = 1;
            }
        }
    }
    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            'project_id': project_id,
            'page': page
        },
        success: function(data) {
            $("#project-list-row-container").html("");
            $("#project-list-row-container").html(data);
        },
        error: function(data) {
            console.log("update_project_list error");
        }
    });
}

<!-- pagination 숫자선택 이동 -->
function go_page(page_num) {
    var url = '/project/list/';
    get_project_list(url, page_num);
}

<!-- pagination 이전페이지 이동 -->
function go_prev() {
    if ({{project_obj.number}} > 1) {
        var page_num = {{project_obj.number}} - 1;
        var url = '/project/list/';
        get_project_list(url, page_num);
    }
}

<!-- pagination 다음페이지 이동 -->
function go_next() {
    if ({{project_obj.number}} < {{project_obj.paginator.num_pages}}) {
        var page_num = {{project_obj.number}} + 1;
        var url = '/project/list/';
        get_project_list(url, page_num);
    }
}

<!-- 아이디로 1개의 프로젝트 세부정보 반환 -->
function project_get_detail(project_id) {
    $.ajax({
        type: 'POST',
        url: '/project/project_get_detail/',
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            'project_id': project_id
        },
        success: function(data) {
            <!-- Form에 필요한 값 세팅 -->
            $("#myModalLabel").html("프로젝트 편집");
            $("#btn_for_project_registration").html("저장");
            $("#select_for_project_type").val(data.project_type);
            $("#select_for_project_sub_type").val(data.project_sub_type);
            $("#project_name").val(data.project_name);
            $("#registrant_name").val(data.registrant);
            $("#registration_date").val(data.project_registration_date);
            $("#project_explanation").val(data.project_explanation);
            $("#project_id").val(data.project_id);
            $("#project_modify_position_check").val('list');
            $("#project_file_cnt").val(data.project_file_cnt);

            <!-- file html 생성 -->
            for(var i=0; i<data.project_file_cnt; i++) {
                file_preview_tag_create(data.project_file_name[i], data.project_file_size[i], data.project_file_id[i]);
            }

            <!-- 이미지 파일 유무 판단 -->
            if(typeof data.project_image == "undefined" || data.project_image == null || data.project_image == "") {
                $("#img-spot").attr('src', "");
                $("#img-exists").hide();
                $("#img-none").show();
                $("#project_modify_img_check").val("");
            } else {
                $("#img-none").hide();
                $("#img-exists").show();
                $("#project_modify_img_check").val('true');
                $("#img-spot").attr('src', data.project_image);
            }

            <!-- Modal 수동으로 띄우기 -->
            $('#myModal').modal('show');
        },
        error: function(data) {
            console.log("project_get_detail error");
        }
    });
}

<!-- 프로젝트 복제 -->
function project_clone(project_id) {
    Swal.fire({
        title:'프로젝트를 복제하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-primary w-xs mt-2',
        cancelButtonClass: 'btn btn-light w-xs me-2 mt-2',
        confirmButtonText: '복제',
        cancelButtonText: '취소',
        reverseButtons: true,
        buttonsStyling: false,
        showCloseButton: true
    }).then(function(result){
        if(result.value){
            var url = '/project/clone/';
            update_project_list(url, project_id, 'clone');
        }
    });
}

<!-- 프로젝트 삭제 -->
function project_remove(project_id) {
    Swal.fire({
        title:'프로젝트를 삭제하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-primary w-xs mt-2',
        cancelButtonClass: 'btn btn-light w-xs me-2 mt-2',
        confirmButtonText: '삭제',
        cancelButtonText: '취소',
        reverseButtons: true,
        buttonsStyling: false,
        showCloseButton: true
    }).then(function(result){
        if(result.value){
            var url = '/project/remove/';
            update_project_list(url, project_id, 'remove');
        }
    });
}

</script>