{% extends 'template-project.html' %}
{% load static %}

{% block title %}프로젝트{% endblock %}
{% block middle-title %}프로젝트{% endblock %}

{% block content %}
{% csrf_token %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-sm">
                            <form class="d-flex gap-1">
                                <div class="col-sm-4">
                                    <div class="search-box">
                                        {% if keyword %}
                                        <input type="text" class="form-control input_for_search_keyword" placeholder="키워드 입력" value="{{keyword}}">
                                        {% else %}
                                        <input type="text" class="form-control input_for_search_keyword" placeholder="키워드 입력">
                                        {% endif %}
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <select id="project-search-select-box" class="form-select mb-3">
                                        <option value="update" {% if sort == 'update'%}selected{% endif %}>업데이트순</option>
                                        <option value="name" {% if sort == 'name'%}selected{% endif %}>이름순</option>
                                        <option value="registration" {% if sort == 'registration'%}selected{% endif %}>등록순</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-auto">
                            <button type="button" id="project_main_registration" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="ri-add-line align-bottom me-1"></i> 등록</button>
                        </div>
                    </div>

                    <div class="row" id="project-list-row-container"></div> <!-- list -->

                </div> <!-- end h-100-->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</div> <!-- end page-content -->

<script type="text/javascript">

$(function() {
    <!-- 유저 정보 지정 -->
    $('#registrant_name').val('{{ user_name }}');

    <!-- 초기화 -->
    project_main_init();

    <!-- 프로젝트 정렬 -->
    $("#project-search-select-box").on("change", function(e) {
        var sort = $("#project-search-select-box").val();
        var keyword = $(".input_for_search_keyword").val();
        project_main_init(sort, keyword);
    });

    <!-- 키워드 검색 -->
    $(".input_for_search_keyword").on("keyup", function(e) {
        var sort = $("#project-search-select-box").val();
        var keyword = $(".input_for_search_keyword").val();
        project_main_init(sort, keyword);
    });
});

<!-- 페이지 진입 초기화 설정 -->
function project_main_init(sort, keyword) {
    <!-- 초기 리스트 호출 ajax -->
    $.ajax({
        type: 'POST',
        url: '/project/list/',
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            'sort': sort,
            'keyword': keyword
        },
        success: function(data) {
            $("#project-list-row-container").html("");
            $("#project-list-row-container").html(data);
        },
        error: function(data) {
            console.log("project_main_init error");
        }
    });
}

</script>

{% endblock %}