{% load static %}
<div class="tab-pane active" id="projects" role="tabpanel">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center mb-4">
                <h5 class="card-title flex-grow-1 fw-semibold mb-0">문서</h5>
                <div class="flex-shrink-0">
                    <button class="btn btn-danger"><i class="ri-upload-2-fill me-1 align-bottom"></i> 업로드</button>
                    <button class="btn btn-soft-success">다운로드</button>
                    <button class="btn btn-soft-info"><i class=" bx bx-trash"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="cardtableCheck">
                                            <label class="form-check-label fw-semibold" for="cardtableCheck"> 선택</label>
                                        </div>
                                    </th>
                                    <th scope="col">파일명</th>
                                    <th scope="col">종류</th>
                                    <th scope="col">용량</th>
                                    <th scope="col">등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if file_pagination %}
                                {% for file in file_pagination %}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" name="form-check-input" type="checkbox" value="" id="cardtableCheck{{forloop.counter}}">
                                            <label class="form-check-label" for="cardtableCheck{{forloop.counter}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm">
                                                <div class="avatar-title bg-soft-success text-success rounded fs-20">
                                                    <i class="ri-file-excel-fill"></i>
                                                </div>
                                            </div>
                                            <div class="ms-3 flex-grow-1">
                                                <h6 class="fs-15 mb-0"><a href="javascript:void(0);">{{file.project_file_name}}</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{file.project_file_extension}} File</td>
                                    <td>{{file.project_file_size}}</td>
                                    <td>{{file.project_file_registration_date | date:'Y.m.d'}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mt-4">
                        <ul class="pagination pagination-separated justify-content-center mb-0">
                            <li class="page-item disabled">
                                <a href="javascript:go_prev();" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                            </li>
                            {% for plinks in page_links %}
                                {{ plinks | safe }}
                            {% endfor %}
                            <li class="page-item">
                                <a href="javascript:go_next();" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end card-->

<script>
$(function() {
    project_detail_documents_init();

    <!-- 문서탭 체크박스 일괄선택 기능 -->
    $("#cardtableCheck").on("click", function(e) {
        if($("#cardtableCheck").is(":checked")) {
            $("input[name=form-check-input]").prop("checked", true);
        } else {
            $("input[name=form-check-input]").prop("checked", false);
        }
    });

    <!-- 문서탭 체크박스 단일선택으로 전체 항목체크 시 일괄선택 체크박스 이벤트 지정 -->
    $("input[name=form-check-input]").on("click", function(e) {
        var max_checkbox_len = $("input[name=form-check-input]").length;
        var checkced_checkbox_len = $("input[name=form-check-input]:checked").length;
        if(max_checkbox_len == checkced_checkbox_len) {
            $("#cardtableCheck").prop("checked", true);
        } else {
            $("#cardtableCheck").prop("checked", false);
        }
    });
});

<!-- pagination 숫자선택 이동 -->
function go_page(page_num) {
    var url = '/project/detail/documents/';
    var render_html = 'project/project-detail-documents.html';
    get_project_list(url, render_html, page_num);
}

<!-- pagination 이전페이지 이동 -->
function go_prev() {
    if ({{file_pagination.number}} > 1) {
        var page_num = {{file_pagination.number}} - 1;
        var url = '/project/detail/documents/';
        var render_html = 'project/project-detail-documents.html';
        get_project_list(url, render_html, page_num);
    }
}

<!-- pagination 다음페이지 이동 -->
function go_next() {
    if ({{file_pagination.number}} < {{file_pagination.paginator.num_pages}}) {
        var page_num = {{file_pagination.number}} + 1;
        var url = '/project/detail/documents/';
        var render_html = 'project/project-detail-documents.html';
        get_project_list(url, render_html, page_num);
    }
}

<!-- 페이지 진입 초기화 설정 -->
function project_detail_documents_init() {
    $('#registrant_name').val('{{ user_name }}');
    var current_page = '{{file_pagination.number}}';
    var last_page = {{file_pagination.paginator.num_pages}};

    if(current_page <= 1) {
        $("li.page-item").first().addClass("disabled");
        $("li.page-item").last().removeClass("disabled");
    } else if(current_page >= last_page) {
        $("li.page-item").last().addClass("disabled");
        $("li.page-item").first().removeClass("disabled");
    } else {
        $("li.page-item").last().removeClass("disabled");
        $("li.page-item").first().removeClass("disabled");
    }
}

<!-- 페이지 render ajax -->
function get_project_list(url, render_html, page) {
    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            'project_id': '{{project_id}}',
            'render_html': render_html,
            'page': page
        },
        success: function(data) {
            $("#project-detail-menu").html("");
            $("#project-detail-menu").html(data);
        },
        error: function(data) {
            console.log("detail ajax fail");
        }
    });
}
</script>

<!-- swiper js -->
<script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
<!-- profile init js -->
<script src="{% static 'js/pages/profile.init.js' %}"></script>