{% extends 'template-project.html' %}
{% load static %}

{% block title %}프로젝트 상세{% endblock %}
{% block middle-title %}프로젝트 상세{% endblock %}

{% block content %}
{% csrf_token %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="profile-foreground position-relative mx-n4 mt-n4">
                <div class="profile-wid-bg">
                    <img src="{% static 'images/project-detail-bg.png' %}" alt="" class="profile-wid-img" />
                </div>
            </div>
            <div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
                <div class="row g-4">
                    <div class="col-auto">
                        <div class="avatar-lg">
                            {% if project_image %}
                            <img src="{{project_image.url}}" alt="user-img" class="img-thumbnail rounded-circle w-100 h-100"/>
                            {% else %}
                            <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-img" class="img-thumbnail rounded-circle" />
                            {% endif %}
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col">
                        <div class="p-2">
                            <h3 class="text-white mb-1">{{project_name}}</h3>
                            <p class="text-white-75">{{project_type}} &middot; {{project_sub_type}}</p>
                            <div class="hstack text-white-50 gap-1">
                                <div class="me-2"><i class="bx bx-user me-1 text-white-75 fs-16 align-middle"></i>{{registrant}}</div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-12 col-xl-4 order-last order-lg-0">
                        <div class="row text text-white-50 text-center">
                            <div class="col-3">
                                <div class="p-2">
                                    <h4 class="text-white mb-1">{{best_mlmodel.best_recall}}</h4>
                                    <p class="fs-14 mb-0">Best Recall</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="p-2">
                                    <h4 class="text-white mb-1">{{best_mlmodel.best_accuracy}}</h4>
                                    <p class="fs-14 mb-0">Best Accuracy</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="p-2">
                                    <h4 class="text-white mb-1">{{mlmodel.count}}</h4>
                                    <p class="fs-14 mb-0">생성된 모델수</p>
                                </div>
                            </div>
                            <div class="col text-end">
                                <div class="p-2">
                                    <div class="dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-2-fill fs-14 text-white"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink2">
                                            <li><a class="dropdown-item" href="javascript:project_get_detail()"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> 편집</a></li>
                                            <li><a class="dropdown-item" href="javascript:project_remove()"><i class="ri-delete-bin-6-fill align-bottom me-2 text-muted"></i> 삭제</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div class="d-flex">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link fs-14 active" onclick="project_detail_init('/project/detail/main/', 'project/project-detail-main.html')" data-bs-toggle="tab" role="tab" style="cursor:pointer;">
                                        <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">상세</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-14" onclick="project_detail_init('/project/detail/model/', 'project/project-detail-model.html')" data-bs-toggle="tab" role="tab" style="cursor:pointer;">
                                        <i class="ri-list-unordered d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">모델</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fs-14" onclick="project_detail_init('/project/detail/documents/', 'project/project-detail-documents.html')" data-bs-toggle="tab" role="tab" style="cursor:pointer;">
                                        <i class="ri-price-tag-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">문서</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="flex-shrink-0">
                                <button class="btn btn-datablue" data-bs-toggle="modal" data-bs-target="#dataCreateModal"><i class="ri-add-line align-bottom me-1"></i> 등록</button>
                                <button class="btn btn-transparent-datablue" id="btn_for_return_project"><i class="ri-file-list-line"></i> 목록</button>
                            </div>
                        </div>

                        <!-- 상세, 모델, 문서 -->
                        <div class="tab-content pt-4 text-muted" id="project-detail-menu"></div>

                    </div><!--end tab-content-->
                </div><!--end col-->
            </div><!--end row-->
            <div id="dataCreateModal" class="modal fade" tabindex="-1" aria-labelledby="dataCreateModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-white" id="modalTitle">학습 데이터 생성</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <label for="project_id" class="form-label">모델명</label>
                                    <input type="text" id="project_id" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="btn_for_modal_data_cancel">취소</button>
                            <button type="button" class="btn btn-primary" id="btn_for_modal_data_create">생성</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- container-fluid -->
    </div><!-- End Page-content -->

<!-- swiper js -->
<script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>
<!-- profile init js -->
<script src="{% static 'js/pages/profile.init.js' %}"></script>

<script type="text/javascript">
$(function() {
    project_detail_init('/project/detail/main/', 'project/project-detail-main.html');

    <!-- 목록 클릭 시 프로젝트 메인으로 이동 -->
    $("#btn_for_return_project").bind("click", function() {
        location.href='/project'
    });

    <!-- 모달 시작 시 이벤트 -->
    $("#dataCreateModal").on("show.bs.modal", function(e){
        $("#project_id").val("");
    });

    <!-- 등록 클릭 시 데이터전처리 페이지로 이동 -->
    $("#btn_for_modal_data_create").on("click", function(e) {
        var project_name = $("#project_id").val();

        <!-- 프로젝트 파일개수 유효성검사 -->
        if('{{project_file_cnt}}' <= 0) {
            Swal.fire({
                title:'첨부파일을 등록해주세요',
                icon: 'warning',
                confirmButtonClass: 'btn btn-primary w-xs mt-2',
                buttonsStyling: false
            })
            $("#btn_for_modal_data_cancel").trigger("click");
            return false;
        } else {
            $("#btn_for_modal_data_cancel").trigger("click");
            location.href='/preprocess?model_name='+project_name;
        }
    });

    <!-- 문서탭 체크박스 일괄선택 기능 -->
    $("#cardtableCheck").on("click", function(e) {
        if($("#cardtableCheck").is(":checked")) {
            $("input[name=form-check-input]").prop("checked", true);
        } else {
            $("input[name=form-check-input]").prop("checked", false);
        }
    });

    <!-- 문서탭 체크박스 단일선택으로 전체 항목체크 시 일괄선택 체크박스 이벤트 지정 -->
    $("input[name=form-check-input]").on("click", function(e) {
        var max_checkbox_len = $("input[name=form-check-input]").length;
        var checkced_checkbox_len = $("input[name=form-check-input]:checked").length;
        if(max_checkbox_len == checkced_checkbox_len) {
            $("#cardtableCheck").prop("checked", true);
        } else {
            $("#cardtableCheck").prop("checked", false);
        }
    });
});

<!-- 페이지 render ajax -->
function project_detail_init(url, render_html) {
    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
            'project_id': '{{project_id}}',
            'render_html': render_html
        },
        success: function(data) {
            $("#project-detail-menu").html("");
            $("#project-detail-menu").html(data);
        },
        error: function(data) {
            console.log("detail ajax fail");
        }
    });
}

<!-- 프로젝트 편집 초기값 지정 -->
function project_get_detail() {
    $('#myModal').modal('show');
    $("#select_for_project_type").val('{{project_type}}');
    $("#select_for_project_sub_type").val('{{project_sub_type}}');
    $("#project_name").val('{{project_name}}');
    $("#registrant_name").val('{{registrant}}');
    $("#registration_date").val('{{project_registration_date | date:"Y.m.d"}}');
    $("#project_explanation").val('{{project_explanation}}');
    $("#project_id").val('{{project_id}}');
    $("#project_modify_position_check").val('detail');
    $("#myModalLabel").html("프로젝트 편집");
    $("#btn_for_project_registration").html("저장");

    <!-- 엔티티 코드 변환 -->
    var parser = new DOMParser();
    var project_file_name = parser.parseFromString('{{project_file_name}}', 'text/html').body.textContent;
    var project_file_size = parser.parseFromString('{{project_file_size}}', 'text/html').body.textContent;
    var project_file_id = parser.parseFromString('{{project_file_id}}', 'text/html').body.textContent;

    <!-- replace로 필요없는 문자 제거 -->
    var project_file_name_arr = project_file_name.replaceAll("[", "").replaceAll("]", "").replaceAll("\'", "").split(",");
    var project_file_size_arr = project_file_size.replaceAll("[", "").replaceAll("]", "").replaceAll("\'", "").split(",");
    var project_file_id_arr = project_file_id.replaceAll("[", "").replaceAll("]", "").replaceAll("\'", "").split(",");

    <!-- file html 생성 -->
    for(var i=0; i<'{{project_file_cnt}}'; i++) {
        file_preview_tag_create(project_file_name_arr[i], project_file_size_arr[i], project_file_id_arr[i]);
    }

    <!-- 이미지 파일 지정 -->
    var project_img = '{{project_image.url}}';
    if(project_img == "undefined" || project_img == null || project_img == "") {
        $("#img-spot").attr('src', "");
        $("#img-exists").hide();
        $("#img-none").show();
        $("#project_modify_img_check").val("");
    } else {
        $("#img-none").hide();
        $("#img-exists").show();
        $("#project_modify_img_check").val('true');
        $("#img-spot").attr('src', project_img);
    }
}

<!-- 프로젝트 삭제 -->
function project_remove() {
    Swal.fire({
        title:'프로젝트를 삭제하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-primary w-xs mt-2',
        cancelButtonClass: 'btn btn-light w-xs me-2 mt-2',
        confirmButtonText: '삭제',
        cancelButtonText: '취소',
        reverseButtons: true,
        buttonsStyling: false,
        showCloseButton: true
    }).then(function(result){
        if(result.value){
            $.ajax({
                type: 'POST',
                url: '/project/remove/',
                data: {
                    'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
                    'project_id': '{{project_id}}'
                },
                success: function(data) {
                    location.href = '/project/';
                },
                error: function(data) {
                    console.log("project_remove error");
                }
            });
        }
    });
}

<!-- 엑셀 파일 다운로드 -->
function download_excel_file(file_id) {
    location.href = '/project/excel_download?file_id=' + file_id;
}

</script>

{% endblock %}