{% extends 'template-project.html' %}
{% load static %}

{% block title %}프로젝트{% endblock %}
{% block middle-title %}프로젝트{% endblock %}

{% block content %}

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row mb-3 pb-1">
                            <div class="col-sm">
                                <form class="d-flex gap-1">
                                    <div class="col-sm-4">
                                        <div class="search-box">
                                            <input type="text" class="form-control" id="input_for_search_keyword" placeholder="키워드 입력">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-select mb-3">
                                            <option value="update" selected>업데이트순</option>
                                            <option value="name">이름순</option>
                                            <option value="registration">등록순</option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-auto">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="ri-add-line align-bottom me-1"></i> 등록</button>
                            </div>
                        </div>

                        {% if project_size == 0 %}
                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title fw-semibold">프로젝트</h5>

                                        <div class="text-center mt-3 pt-3">
                                            <a href="javascript:void(0)" class="btn btn-soft-dark">
                                                <i class="bx bx-layer-plus display-6 text-white"></i>
                                            </a>

                                            <p class="mt-3">버튼을 선택해서 새 프로젝트를 등록해보세요.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-animate" name="project_list">
                                    <div class="card-body">
                                        <div class="d-flex flex-column h-100">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="mb-4"><span class="text-muted">업데이트</span><span class="fw-semibold"> 2023.01.01 12:01:01</span></p>
                                                    <!-- <p class="text-muted mb-4">Updated 2hrs ago</p> -->
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="d-flex gap-1 align-items-center">
                                                        <div class="dropdown">
                                                            <button class="btn btn-link text-muted p-1 mt-n2 py-0 text-decoration-none fs-15" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <i class="ri-more-fill"></i>
                                                            </button>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="#"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> 편집</a>
                                                                <a class="dropdown-item" href="#"><i class="ri-file-copy-fill align-bottom me-2 text-muted"></i> 복제</a>
                                                                <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill align-bottom me-2 text-muted"></i> 삭제</a>
                                                                <a class="dropdown-item" href="#"><i class="ri-install-fill align-bottom me-2 text-muted"></i> 백업</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-md">
                                                        <span class="avatar-title bg-soft-indigo rounded p-2">
                                                            <img src="{% static 'images/brands/mail_chimp.png' %}" alt="프로젝트 메인 이미지" class="img-fluid p-1">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="card-subtitle mb-2">금융&middot;은행</h6>
                                                    <h5 class="card-title mb-3 fw-semibold"><a href="/project/detail" class="text-dark">은행 Project 2</a></h5>

                                                    <div class="row align-items-center mt-3">
                                                        <div class="col-lg-3">
                                                            <p class="text-muted mb-0">관리자</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="mb-0">유재석</p>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-3">
                                                            <p class="text-muted mb-0">권한</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="mb-0">글로벌</p>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-3">
                                                            <p class="text-muted mb-0">등록일</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="mb-0">2023.01.01 12:01:01</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div>
                            </div><!-- end col -->

                            <div class="col-xl-6">
                                <div class="card card-animate" name="project_list">
                                    <div class="card-body">
                                        <div class="d-flex flex-column h-100">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <p class="mb-4"><span class="text-muted">업데이트</span><span class="fw-semibold"> 2023.01.01 12:01:01</span></p>
                                                    <!-- <p class="text-muted mb-4">Updated 2hrs ago</p> -->
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="d-flex gap-1 align-items-center">
                                                        <div class="dropdown">
                                                            <button class="btn btn-link text-muted p-1 mt-n2 py-0 text-decoration-none fs-15" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <i class="ri-more-fill"></i>
                                                            </button>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="#"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> 편집</a>
                                                                <a class="dropdown-item" href="#"><i class="ri-file-copy-fill align-bottom me-2 text-muted"></i> 복제</a>
                                                                <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill align-bottom me-2 text-muted"></i> 삭제</a>
                                                                <a class="dropdown-item" href="#"><i class="ri-install-fill align-bottom me-2 text-muted"></i> 백업</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-md">
                                                        <span class="avatar-title bg-soft-indigo rounded p-2">
                                                            <img src="{% static 'images/brands/mail_chimp.png' %}" alt="프로젝트 메인 이미지" class="img-fluid p-1">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="card-subtitle mb-2">금융&middot;은행</h6>
                                                    <h5 class="card-title mb-3 fw-semibold"><a href="/project/detail" class="text-dark">은행 Project 2</a></h5>

                                                    <div class="row align-items-center mt-3">
                                                        <div class="col-lg-3">
                                                            <p class="text-muted mb-0">관리자</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="mb-0">유재석</p>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-3">
                                                            <p class="text-muted mb-0">권한</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="mb-0">글로벌</p>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-3">
                                                            <p class="text-muted mb-0">등록일</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <p class="mb-0">2023.01.01 12:01:01</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                        {% endif %}
                    </div> <!-- end .h-100-->
                </div> <!-- end col -->
            </div>

            {% if project_size != 0 %}
            <div class="row g-0 text-center text-sm-start align-items-center mb-3">
                <div class="float-left">
                    <div>
                        <p class="mb-sm-0">Showing 1 to 8 of 12 entries</p>
                    </div>
                </div> <!-- end col -->
                <div class="col">
                    <ul class="pagination pagination-separated justify-content-center">
                        <li class="page-item disabled">
                            <a href="javascript:go_prev();" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                        </li>
                        {% for plinks in page_links %}
                            {{ plinks | safe }}
                        {% endfor %}
                        <li class="page-item">
                            <a href="javascript:go_next();" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div>
            {% endif %}
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

<script type="text/javascript">
    $(function() {
        $("#registrant_name").val("{{ user_name }}");
    });

    function go_page(page_num) {
        $.ajax({
            type: 'GET',
            url: '/project/',
            data: {
                'page': page_num
            },
            success: function(data) {
                $("#project-documents").html("");
                $("#project-documents").html(data);
            },
            error: function(data) {
                console.log("paginator error");
            }
        });
    }

    function go_prev() {
        var page_num = $("li.page-item.active").text().trim();
        if (page_num <= 1) {
            return false;
        } else {
            go_page(Number(page_num)- 1);
        }
    }

    function go_next() {
        var last_page = $("li.page-item").eq(-2).text().trim();
        var page_num = $("li.page-item.active").text().trim();
        if (page_num >= last_page) {
            return false;
        } else {
            go_page(Number(page_num) + 1);
        }
    }
</script>

{% endblock %}